[Desktop Entry]
Type=Application
Version=1.0
Name=Parano1d
Comment=Private proof-native wallet
Exec=/usr/lib/parano1d/parano1d-gui
Icon=org.parano1d.wallet
Terminal=false
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=org.parano1d.wallet
