[Desktop Entry]
Type=Application
Version=1.0
Name=Jetsam
Comment=Private proof-native wallet
Exec=/usr/lib/jetsam/jetsam-gui
Icon=org.jetsam.wallet
Terminal=false
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=org.jetsam.wallet
